.example-spacer {
  flex: 1 1 auto;
}

.example-card {
  margin-top: 4px;
  max-width: 800px;
  width: 100%;
  margin: auto;
  box-shadow: unset;
  z-index: -2;
  box-sizing: border-box;
}

.example-spacer {
  flex: 1 1 auto;
}

.example-header-image {
  background-size: cover;
}

.wrap {
  height: calc(100vh - 16px);
  overflow-y: scroll;
}

.title {
  font-weight: bold;

}

.pure-button-hover {
  color: #dacc9f;
  font-weight: bold;
}

.pure-button-hover:hover {
  color: #d4b75d;
}

.mat-card {
  font-family: unset;
}



.action-buttons {
  text-align: center;
}

.example-container {
  width: 100%;
  height: auto;
  border: 1px solid rgba(111, 111, 111, 0.50);
}

.example-sidenav-content {
  display: flex;
  height: 75%;
  align-items: center;
  justify-content: center;
}

.example-sidenav {
  padding: 20px;
}

.source-name {
  margin-left: 5px;
}

.list-item:hover {
  cursor: pointer;
  background-color: #3f51b5;
  color: white;
}

.backFont {
  position: absolute;
  font-size: 70px;
  font-family: abril fatface, cursive;
  line-height: .8;
  z-index: -1;
  color: #dacc9f;
  font-weight: 700;
  left: -67px;
  top: 0;
}

.example-subcard {
  position: relative !important;
  top: -90px;
  margin-left: 50px;
  z-index: 1;
  -webkit-box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.75);
  background-color: white;
}

.card-header-row {
  display: flex;
}

.card-content {
  margin-bottom: auto;
}

.magazine-content {
  position: relative
}

@media screen and (max-width: 770px) {
  .backFont {

    font-size: 9vw;
  }
}

@media screen and (max-width: 500px) {
  .backFont {
    left: 0;


  }
}


@keyframes shimmer {
  0% {
    background-position: -468px 0;
  }

  100% {
    background-position: 468px 0;
  }
}

.bg {
  padding-top: calc(1080 / 1920 * 100%);
  margin: auto;
  animation: shimmer 1s linear 0s infinite forwards;
  background: #d0d3da;
  box-shadow: 0 8px 16px rgba(0, 30, 84, 0.1);
  background-image: linear-gradient(to right,
    #d0d3da 0%,
    #e9ebee 20%,
    #d0d3da 40%,
    #d0d3da 100%);
  background-repeat: no-repeat;
  position: relative;


}

.example-card-blur {
  margin-top: 4px;
  max-width: 800px;
  width: 100%;
  margin: auto;
  box-shadow: unset;
  z-index: -2;
  box-sizing: border-box;

}

.example-subcard-blur {
  animation: shimmer 1s linear 0s infinite forwards;
  background: #d0d3da;
  box-shadow: 0 8px 16px rgba(0, 30, 84, 0.1);
  background-image: linear-gradient(to right,
    #d0d3da 0%,
    #e9ebee 20%,
    #d0d3da 40%,
    #d0d3da 100%);
  position: relative !important;
  top: -90px;
  margin-left: 50px;
  z-index: 1;
  -webkit-box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.75);
  background-color: white;
}

.img-article-blur {
  animation: shimmer 1s linear 0s infinite forwards;
  background: #d0d3da;
  box-shadow: 0 8px 16px rgba(0, 30, 84, 0.1);
  background-image: linear-gradient(to right,
    #d0d3da 0%,
    #e9ebee 20%,
    #d0d3da 40%,
    #d0d3da 100%);
}